{% extends "../base.twig" %}
{% block content %}
<form action="/product" method="post">
    name:
    <input type="text" name="name">
    description:
    <input type="text" name="description">
    imageSrc:
    <input type="text" name="imageSrc">
    price:
    <input type="number" name="price">
    <input type="submit">
</form>
{% endblock %}