version: "3"
services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www/app
    ports:
      - "3000:9000"
    depends_on:
      - db
    environment:
      DATABASE_URL: "postgres://postgres:postgres@db/postgres"
      APP_SECRET: "shhhhhhhhhhhhhhhhhhhhhhhhhh"

  db:
    image: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres

