{% extends "base.twig" %}
{% block content %}
<form action="/nieadmin/login" method="post">
    nickname:
    <input type="text" name="nickname">
    password:
    <input type="password" name="password">

    <input type="submit">
</form>
{% endblock %}