<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>commerce</title>
        <link href="/style.css" rel="stylesheet">
    </head>
<body>

<div class="navbar">
    <form action="/search">
        search
        <input type="text" name="query">
        <input type="submit">
    </form>
    <a href="/">home</a>
    <a href="/products/0/100">products</a>
    {% if role == "Customer" %}
        <a href="/cart">cart</a>
    {% elseif role == "Admin" %}
        <a href="/users">show users</a>
        <a href="/product">create product</a>
        <a href="/orders">show orders</a>
    {% endif %}
    {% if not role %}
    <a href="/login">login</a>
    <a href="/register">register</a>
    {% endif %}
    {% if role %}
        <a href="/logout">logout</a>
    {% endif %}
</div>


{% block content %}
{% endblock %}
</body>
</html>