<form action="/register" method="post">
    email:
    <input type="text" name="email">
    firstname:
    <input type="text" name="firstname">
    lastname:
    <input type="text" name="lastname">
    password:
    <input type="password" name="password">

    <input type="submit">
</form>